-if !closed && (logged_in? && voteable.user != current_user) || !logged_in?
  -vote = current_user.vote_on(voteable) if logged_in?

  %form{:action=> url, :method=>'post', :class=>'vote_form'}
    = token_tag
    .vote_box
      =hidden_field_tag "source", source, :id => "source_#{class_name}_#{voteable.id}"
      %button.positive{:class => vote == 1 ? "voted" : '', :type=>"submit", :name=>"vote_up", :value=>"1", :title => t("questions.help.upvote")}
      %span.votes_average
        =calculate_votes_average(voteable)
      -if !voteable.is_a?(Comment)
        %button.negative{:class => vote == -1 ? "voted" : '', :type=>"submit", :name=>"vote_down", :value=>"-1", :title => t("questions.help.downvote")}
-else
  .vote_box.unvotable
    %button.positive{:title => t("questions.help.unvotable")}
    %span.votes_average
      = calculate_votes_average(voteable)
    %button.negative{:title => t("questions.help.unvotable")}
